<a href="https://colab.research.google.com/github/RajezMariner/Deep_Learning/blob/master/Exercise_Tabular_Adult.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from fastai.tabular import pd, TabularList, URLs, untar_data
from fastai.tabular import Normalize, FillMissing, Categorify

In [3]:
path = untar_data(URLs.ADULT_SAMPLE)

Downloading http://files.fast.ai/data/examples/adult_sample.tgz

In [4]:
path.ls()

[PosixPath('/root/.fastai/data/adult_sample/models'),
 PosixPath('/root/.fastai/data/adult_sample/adult.csv'),
 PosixPath('/root/.fastai/data/adult_sample/export.pkl')]

In [5]:
df = pd.read_csv(path/'adult.csv')

In [6]:
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary
0   49            Private  101320  ...             40   United-States  >=50k
1   44            Private  236746  ...             45   United-States  >=50k
2   38            Private   96185  ...             32   United-States   <50k
3   38       Self-emp-inc  112847  ...             40   United-States  >=50k
4   42   Self-emp-not-inc   82297  ...             50   United-States   <50k

[5 rows x 15 columns]

In [13]:
cat_names = ['workclass', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']
con_names = ['age', 'fnlwgt', 'education-num']
dep_var = 'salary'

In [9]:
proc = [FillMissing, Categorify, Normalize]

In [10]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=con_names, procs=proc)

In [14]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=con_names, procs=proc)
        .split_by_idx(list(range(800,1000)))
        .label_from_df(dep_var)
        .add_test(test)
        .databunch())

In [16]:
data.show_batch()

In [20]:
from fastai.tabular import tabular_learner, accuracy

In [21]:
learn = tabular_learner(data, layers=[200,100], metrics=[accuracy])

In [22]:
learn.fit_one_cycle(1, 1e-2)

Inference...

In [23]:
row = df.iloc[800]
learn.predict(row)

(Category tensor(0), tensor(0), tensor([0.9896, 0.0104]))

In [24]:
df.iloc[800]

age                               45
workclass                    Private
fnlwgt                         96975
education               Some-college
education-num                    NaN
marital-status              Divorced
occupation         Handlers-cleaners
relationship               Unmarried
race                           White
sex                           Female
capital-gain                       0
capital-loss                       0
hours-per-week                    40
native-country         United-States
salary                          <50k
Name: 800, dtype: object